<!-- new comment and reply -->
<div class="new-comment-container">
  <form
    class="new-comment-section"
    #commentForm="ngForm"
    (ngSubmit)="addingReply ? addReply(commentForm) : addComment(commentForm)"
  >
    <img [src]="currentUserPic" [alt]="currentUserName" />
    <textarea
      type="text"
      name="comment"
      id="comment"
      [placeholder]="addingReply ? 'Add a reply...' : 'Add a comment...'"
      ngModel
    ></textarea>
    <button id="send" class="send" type="submit">
      {{ addingReply ? "REPLY" : "SEND" }}
    </button>
  </form>
</div>
