@for(comment of commentsList; track comment.id) {
<!-- show each comment -->
<app-comments
  [commentData]="comment"
  [currUser]="currentUser"
  (deleteClicked)="openDeleteModal($event)"
></app-comments>

@if (comment.replies) { @for(reply of comment.replies; track reply.id) {
<div class="reply-section">
  <!-- show replies within comments -->
  <app-comments
    [commentData]="reply"
    [currUser]="currentUser"
    [replyTo]="reply.replyingTo"
    (deleteClicked)="openDeleteModal($event)"
  ></app-comments>
</div>
} } }

<!-- Delete Confirmation Modal -->
@if(showDeleteModal) {
<app-delete-modal (confirmDelete)="onConfirmDelete($event)"></app-delete-modal>
}
